<div class="container d-flex justify-content-center">
  <div class="form-card">
    <div class="title">
      <h5 class="card-title">Editar perfil</h5>
    </div>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <div class="d-flex gap-3 phone-email">
          <div class="email-input w-100">
            <%= f.input :email, required: true, autofocus: true %>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>
                Currently waiting confirmation for:
                <%= resource.unconfirmed_email %>
              </p>
            <% end %>
          </div>
          <div class="phone-input w-100">
            <%= f.input :phone, label: 'Telefone' %>
          </div>
        </div>
        <div class="address-input">
          <%= f.input :address, label: 'Endereço' %>
        </div>
        <div class="d-flex gap-3 city-state-zip">
          <div class="city-input">
            <%= f.input :city, label: 'Cidade' %>
          </div>
          <div class="state-input">
            <%= f.input :state, label: 'Estado' %>
          </div>
          <div class="zip-input">
            <%= f.input :zip_code, label: 'CEP' %>
          </div>
        </div>
        <div class="d-flex gap-3 pass-confirmpass">
          <div class="pass-input w-100">
            <%=
              f.input :password,
                      label: 'Nova senha',
                      hint: 'Deixar em branco caso não pretenda alterar',
                      required: false,
                      input_html: {
                        autocomplete: 'new-password',
                      }
            %>
          </div>
          <div class="pass-confirm-input w-100">
            <%=
              f.input :password_confirmation,
                      label: 'Confirmar senha',
                      required: false,
                      input_html: {
                        autocomplete: 'new-password',
                      }
            %>
          </div>
        </div>
        <div class="current-pass-input">
          <%=
            f.input :current_password,
                    label: 'Senha atual',
                    hint:
                      'Para confirmar qualquer alteração, digite sua senha atual.',
                    required: true,
                    input_html: {
                      autocomplete: 'current-password',
                    }
          %>
        </div>
      </div>
      <div class="form-actions form-flex pt-3">
        <%= f.button :submit, 'Editar', class: 'btn btn-primary login-btn' %>
        <%=
          link_to 'Voltar', :back, class: 'btn btn-outline-primary signup-btn'
        %>
      </div>
    <% end %>
    <%=
      link_to 'Deletar conta',
              registration_path(resource_name),
              data: {
                confirm: 'Você tem certeza que quer deletar a sua conta?',
                turbo_confirm: 'Você tem certeza que quer deletar a sua conta?',
              },
              method: :delete,
              class: 'btn-del-profile'
    %>
  </div>
</div>
