<div class="bg-log-backgroud">
<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <div class="card">
        <%= image_tag "car.jpg", class: "card-img-top"  %>
        <div class="card-body">
          <h5 class="card-title">Faça o seu cadastro</h5>
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">
            <%= f.input :first_name, label: 'Nome' %>
            <%= f.input :last_name, label: 'Sobrenome' %>
            <%= f.input :zip_code, label: 'CEP' %>
            <%= f.input :address, label: 'Endereço' %>
            <%= f.input :phone, label: 'Telefone' %>
            <%= f.input :city, label: 'Cidade' %>
            <%= f.input :state, label: 'Estado' %>
            <%= f.input :email, label: 'E-mail',
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
            <%= f.input :password, label: 'Senha',
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation, label: 'Repita a senha',
                required: true,
                input_html: { autocomplete: "new-password" } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Criar", class: "btn btn-page-sign-up-sign-up" %>
          </div>
          <% end %>
          <%= render "devise/shared/links"%>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
