<div class="navbar-lecarrossa">

  <div class="navbar-left-lecarrossa">
    <%= link_to cars_path do %>
      <%= image_tag "lecarrosa.svg", class: "navbar-lecarrossa-logo" %>
    <% end %>
  </div>

  <% if user_signed_in? %>
    <div class="navbar-right-lecarrossa">
      <div class="div-link">
        <%= link_to "Vender", new_car_path, class: "navbar-lecarrossa-link" %>
      </div>
      <div class="div-link">
        <%= link_to "Comprar", cars_path, class: "navbar-lecarrossa-link" %>
      </div>
      <div class="drop-menu-logo">
        <li class="nav-item dropdown navbar-lecarrossa-list">
          <a href="#" class="menu" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-circle-user navbar-lecarrossa-link"></i></a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <h6 class="dropdown-header"><strong><%= current_user.first_name.capitalize + ' ' + current_user.last_name.capitalize %></strong></h6>
            <%= link_to "Editar perfil", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Meus anúncios", my_cars_path, class: "dropdown-item" %>
            <%= link_to "Meus pedidos", my_orders_path, class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%= link_to "Sair", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
          </div>
        </li>
      </div>
    </div>
  <% else %>

    <div class="navbar-right-lecarrossa">
      <div class="div-link">
        <%= link_to "", new_user_session_path, class: "navbar-lecarrossa-link fa-solid fa-circle-user" %>
      </div>
      <div class="div-link">
        <%= link_to "Entrar", new_user_session_path, class: "navbar-lecarrossa-link" %>
      </div>
      <div class="div-link">
        <%= link_to "Cadastrar", new_user_session_path, class: "navbar-lecarrossa-link" %>
      </div>
      <%= link_to "Começar a vender", new_car_path, class: "btn btn-primary" %>
    </div>
  <% end %>

</div>
