
<div class="bg-log-backgroud">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <div class="card">

          <% if @car.photos.any? %>
            <%=  cl_image_tag @car.photos.first.key, crop: :fill, class: 'card-img-top' %>
          <%  else %>
             <%= image_tag "car.jpg", class: "card-img-top" %>
          <%  end %>

          <div class="card-body">
            <h5 class="card-title"><strong>Dados da compra:</strong></h5>
            <p>Marca: <%= @car.brand %></p>
            <p>Modelo: <%= @car.mod %></p>
            <p>Vendedor: <%= @car.user.first_name %></p>
            <p>Preço: R$<%= @car.price %></p>
            <%= simple_form_for [@car, @order] do |f| %>
            <%= f.submit 'Confirmar compra', class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
