<div class="container mt-3 d-flex justify-content-center ">

<div class="container d-flex justify-content-center flex-column">
  <div class="highlights-section">
    <h1>Minha compra</h1>
    <div class="cards">
      <div class="card-order">
        <div class="card-body mt-3">
          <h4>Dados do pedido</h4>
          <p> <strong> Marca:</strong>  <%= @order.car.brand %></p>
          <p> <strong> Modelo: </strong>  <%= @order.car.mod %></p>
          <p> <strong> Vendedor: </strong>  <%= @order.car.user.first_name %></p>
          <p> <strong> Comprador: </strong>  <%= @order.user.first_name %></p>
          <p> <strong> Data do pedido:</strong>  <%= @order.created_at.to_s.slice(0,10) %></p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
