<%# Banner - Carousel %>

<div id="carousel-banner" data-bs-ride="carousel" data-bs-interval="5000">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag 'sold.jpg', class: 'slid-1' %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'car.jpg', class: 'slid-2' %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'sold.jpg', class: 'slid-3' %>
    </div>
  </div>
  <div class="banner-title">
    <h1>Le carro s<span>.</span>a<span>.</span>, a melhor maneira de comprar ou vender o seu carro!</h1>
    <p>Facilite sua vida, venha vender ou comprar seu veículo com a gente.</p>
  </div>
</div>

<%# Search-Bar %>

<div class="container d-flex justify-content-center flex-column">
  <div class="search-bar">
    <%= form_with url: root_path, method: :get do %>
      <div class="texbox-btn d-flex w-100 gap-3">
        <div class="text-box">
          <%= text_field_tag :query, params[:query], class: 'form-control', placeholder: 'Procure o seu sonho aqui' %>
        </div>
        <div class="search-btn">
          <%= submit_tag 'Search', name: '', class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>

  <%# Cards %>

  <div class="highlights-section">
    <h1>Anuncios em destaque</h1>
    <div class="cards">
      <% @cars.each do |car| %>
        <% if car.user != current_user && car.selled != true %>
          <div class="card">
            <div class="img">
              <%= cl_image_tag car.photos.first.key, crop: :fill, class: 'img' if car.photos.any? %>
            </div>
            <div class="card-body">
              <h5 class="card-title"><%= car.mod %></h5>
              <p id="card-text-brand" class="card-text"><%= car.brand %></p>
              <div class="text-year-km">
                <p id="card-text-year" class="card-text"><%= car.year %></p>
                <p id="card-text-km" class="card-text"><%= car.km %> <span class="kms-span">kms</span></p>
              </div>
              <p id="card-text-price" class="card-text">R$ <%= car.price %></p>
              <%= link_to 'Ver mais', car_path(car), class: 'btn btn-primary' %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
