<div class="container">
  <div class="form-card">
    <%= simple_form_for [@car] do |f| %>
      <%= f.input :brand, label: 'Marca' %>
      <%= f.input :mod, label: 'Modelo' %>
      <%= f.input :year, label: 'Ano' %>
      <%= f.input :description, label: 'Descrição' %>
      <%= f.input :price, label: 'Valor' %>
      <%= f.input :km, label: 'Km' %>
      <%=
        f.input :photos,
                as: :file,
                input_html: {
                  multiple: true,
                },
                label: 'Fotos'
      %>
      <%= f.submit 'Editar carro', class: 'btn btn-primary' %>
    <% end %>
    <% @car.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 100, width: 200, crop: :fill %>
    <% end %>
  </div>
</div>
